<div class="text-center mt-5">
  <h2>Your cart is currently empty</h2>
  <p>Looks like you haven't added anything yet.</p>
  <%= link_to 'Continue Shopping', root_path, class: 'btn btn-primary mt-3' %>
</div>
